.show
{
	display: block;
}
.hide
{
	display: none;
}
.margin-form_generate{
	padding-bottom: 10px;
}


.generate_image_success {
    color: #8bc954;
}

.generate_image_error {
	color: #d8000c;    
}

.generate_image_status {
	display: none;
	font-size: 12px;
	font-style: italic;
    margin-bottom: 0;
    padding: 4px 8px;	
    margin-top: 5px;
}
.hsma_block_list .panel{
    height: 300px;
    overflow: auto;
}
.hsma_border {
    border: solid 1px #dfdfdf;
}
.hsma_border img {
    width: 50px;
}
.product_list .accessory_group_product img.hsma_icon{
    width: 16px;
}
.hsma_border .table tr:last-child > td{
    border-bottom: none;
}
.assign_accessories_to_products{
    text-align: center;
    vertical-align: middle;
}

.has_accessory tbody > tr > td, .accessory_list tbody > tr > td{
    background-color: #dff5f9 !important;
}
.has_accessory tbody > tr:hover > td, .accessory_list tbody > tr:hover > td{
    background-color: #f4f8fb !important;
}

.product_list > thead > tr > th{
    background-color: #eff1f2;
}
.accessory_group_product, .accessory_list{
    background-color: #25b9d7 !important;
    color: #fff;
}
.hsma_scroll {
    margin-top: 85px; 
    text-align: center;
}
.accessory_group_product .hsma_quantity, .accessory_group_product .hsma_discount {
    width: 11%;
}
.display_products_accessories .no_product{
    margin: 20px 0;
    color: #F44336;
    text-align: center;
}
.display_products_accessories .product_check_box{
    text-align: right;
}