a.tt-icon {
    background: url("../img/help.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    width: 16px;
}
#content.bootstrap .multiacc_setting h3 {
    height: 2.7em
}
.bootstrap .multiacc_setting input[type="radio"] {
    position: relative;
    top: 3px;
}

.multiacc_setting {
    margin-bottom: 15px;
}
.multiacc_setting legend {
    line-height: 25px;
    vertical-align: middle;
}
.multiacc_setting legend img {
    height: 25px;
    width: auto;
}

.multiacc_setting .acc_title {
    float: left;
}
.multiacc_setting .acc_title input {
    width: 250px;
}
.multiacc_setting .language_flags {
    clear: both;
    width: 120px;
    margin-left: 0;
    border-color: #CCC;
}

/*Product page*/
#product #group_accessories {
    clear: both;
    margin: 15px 0;
    padding: 10px;
    background: #F6F6F6;
    color: #000;
}
#product #group_accessories label {
    margin-bottom: 0;
}
#product #group_accessories input[type=checkbox] {
    vertical-align: middle;
}
#product #group_accessories h3 {
    font-size: 1.4em;
    font-weight: bold;
    margin: 10px 0 20px;
    padding: 0;
}
#product #group_accessories h4 {
    font-size: 1em;
    font-weight: bold;
    text-transform: capitalize;
    margin: 0 0 10px;
    cursor: pointer;
}
/*#product #group_accessories .option-row {
        margin-bottom: 10px;
}*/
#product #group_accessories .option-row label.group_name {
    display: block;
    float: left;
    width: 27%;
    text-align: right;
}

#product #group_accessories .option-row input[type=text] {
    border: 1px solid #A9A9A9;
    padding: 1px 0;
    margin-right: 5px;
}

#product #group_accessories .option-row table {
    margin-bottom: 25px;
}
#product #group_accessories .option-row table td {
    padding: 4px;
}
#product #group_accessories .option-row li a {
    text-decoration: none;
}
#product #group_accessories .option-row li img {
    vertical-align: middle;
}
#product #group_accessories .option-row li div.checker {
    display: inline-block;
}
.checker span input {
    cursor: pointer;
}

#product #group_accessories .custom_quantity{
    text-align: center;
    width: 50px;
    border: 1px solid #d6d4d4;
}
#product .error-number{
    border: 1px solid red !important;
}

#group_accessories .accessories_group_combination {
    margin-bottom: 15px;
    margin-top: 5px;

}
.ma_accessory_name:hover{
    text-decoration: underline;
}
.ma_accessory_combination_name{
    display: block;
    font-size: 11px;
    margin-top: -4px;
    padding-right: 4px;
}
span.warning_out_of_stock{
    border-radius: 3px;
    padding: 14px 1px 4px 21px;
}
span.forbidden_ordering{
    border-radius: 3px;
    padding: 14px 1px 4px 21px;
}
.accessorygroup .line_though {
    text-decoration: line-through;
    color: grey;
}
.ma_none_option {
    color: #777;
}

#group_accessories .ma_grower {
    background: #f6f6f6;
    /*position: absolute;*/
    right: 0;
    top: 0;
    float: left;
    cursor: pointer;
    font-family: "FontAwesome";
    font-size: 12px; }
#group_accessories .ma_grower.icon_expand:before, #group_accessories .ma_grower.icon_collapse:before {
    content: "\f068";
    vertical-align: middle;
    width: 30px;
    height: 30px;
    color: #333;
    padding: 0 8px 5px 0;
    text-align: center; }
#group_accessories .ma_grower.icon_collapse:before {
    content: "\f067";
}