
.forgotten-password {
  padding: 4px;
  .form-fields {
    .center-email-fields {
      display: flex;
      justify-content: center;
      @media (max-width: 767px) {
        flex-direction: column;
        button {
          margin: 10px;
          width: calc(100% - 20px);
        }
      }
    }
    .email {
      padding-left: 0;
      padding-right: 0;
      width: 430px;
      @media (max-width: 767px) {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
      }
    }
    label.required {
      width: 130px;
      padding-top: oe_rem(16px);
    }
  }
}

.send-renew-password-link {
  margin-bottom: oe_rem(40px);
  @include media("<md"){
    margin-bottom: oe_rem(20px);
  }
}
